#body1{
    margin: 0px;
    background-image: url(Media/bg.png);
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;

}
#body2{
    margin: 0px;
    background: url(Media/bg.png);
    font-family: sans-serif;
    font-weight: 100;
    text-align: center; 

}
#body3{
    margin: 0px;
    background: url(Media/bg.png);
    font-family: sans-serif;
    font-weight: 100;
    text-align: center; 

}
.div1übermich {
    text-align: center;
}
table {
margin-left:auto;margin-right:auto;
border:1px solid  rgb(145, 137, 112)
}
li {
    list-style: none;
}
.socialmedialinks {
    color: black;
}
#navibar {
    height: 50px;
    width: 100%;
    background-color: rgb(145, 137, 112);
    position: fixed;
}
#navlist {
    float: right;
    
    
}
#navlist li {
    display: inline-block;
    
}
#navlist li a {
    color: white;
    text-decoration: none;
    transition:backround 0.2s;
    -webkit-transition:backround 0.2s ;
}
#navlist li a:hover {
    border-bottom: 2px solid chocolate;
    color: chocolate;
    text-decoration: none;
}

#navlist li a strong {
    color: brown;
    border-bottom: 2px solid brown;
    text-decoration: none;
}
#navlist li a strong:hover {
    color:chocolate;
}
#loginbox {
    color: black;
}
div > h1 {
    text-align: center;
    text-decoration: underline;    
}
h2 {
    text-decoration: underline;
   text-decoration-style: wavy; 
}
#inspos * {
    text-decoration: underline ;
    text-align:center;
    width:95%;;
}
#werke {
    margin-top: 200px;
}
#yt {
margin-top: 20px;
}
#insta {
    margin-top: 200px;
    margin-bottom: 200px;
}
#spotify {
    margin-top: 200px;
    margin-bottom: 200px;
}
.klick {
    color: black;
}
img [src="Media/Themenbanner_HP_Kontakt.jpg"] {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}
#übermichbild {
    margin-top: 25px;
    margin-bottom: 50px;
    animation-name: bild-bewegen;
    animation-duration: 2s;
    position: relative;
   }
   @keyframes bild-bewegen {
       from {
           top: -50px;
       }
       to {
       top: 0;
       }
   }
.breite {
    width: 800px;
    margin: auto;
}
.header {
    margin-top: 40px;
}
#bildindex1 {
    display: flex;
 justify-content: center;
 padding-top: 50px;
}
#navibar2 {
    height: 50px;
    width: 100%;
    background-color: rgb(145, 137, 112);   
    
}
#loginbox {
background-image: url(Media/bg.png);
border-radius: 10px;
}
.label {
    margin-bottom: 5px;
    transition: all 0.3s;
}
.labelinside {
    display: block;
    transition: all 0.3s;
}
.controll {
    
    transition: all 0.5s;
}
.controll::placeholder {
    color: transparent;
}
.controll:focus{
    box-shadow: none;
    outline: none;
    border-color: chocolate; 
}
.label:focus-within {
    transform:scale(1.1, 1.1);
}
.icon:hover {
    transform:scale(1.5, 1.5)
} 
img {
    max-width: 100%;
}
video {
    max-width: 100%;
}

/* media queries  */
@media screen and (max-width:1024px) {
    #main 
}
@media screen and (max-width:800px) {
        
    .breite {
        width:auto;
    }
    #navlist li {
        display:list-item;
    }
    #navibar {
        height: 100px;
        width: 100%;
        background-color: rgb(145, 137, 112);
        position: fixed;
    }
    #navlist {
        float: left;   
    }
    #navlist li strong {
        display: none;
    }
    #navlist li a strong {
        display: inline-table;
    }
    #bildindex1 {
        padding-top: 90px;  
      }
}
@media screen and (max-width:550px) {
    #body1{
        font-size: large;
    
    }
    #body2{
        font-size: large;
    
    }
    #body3{
        font-size: large;
    }
    .breite {
        width:400px;
    }
    #navlist li {
        display:list-item;   
    }
    #navibar {
        height: 100px;
        width: 100%;
        background-color: rgb(145, 137, 112);
        position: fixed;
    }

    #navlist {
        float: left;   
    }
    #navlist li strong {
        display: none;
    }
    #navlist li a strong {
        display: inline-table;
    }
    #bildindex1 {
      padding-top: 90px;  
    }
.tabellekontakt1 {
    margin: auto;}
    
    #werke {
        margin-top: 100px;
    }
    #yt {
    margin-top: 10px;
    }
    #insta {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    #spotify {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
